@import "tailwindcss";

@theme {
    --color-ice-efrei-dark-blue: oklch(0.31 0.058 233.15);
    --color-ice-efrei-blue: oklch(0.4 0.0605 231.15);
    --color-ice-efrei-light-blue: oklch(0.89 0.0271 234);
}
